body {
  background-color: #525659;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.second-window {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.second-window-page:not(:last-of-type) {
  margin-bottom: 20px;
}
.second-window-page:first-of-type {
  outline: 3px solid red;
  box-sizing: border-box;
}
