.new-window {
  display: flex;
  align-items: flex-start;
}
.new-window__window-btn,
.new-window__sync-btn {
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  padding-top: 50px;
  font: inherit;
}
.new-window__window-btn {
  margin-right: 10px;
}
.new-window__window-btn::before,
.new-window__sync-btn::before {
  content: '';
  width: 40px;
  height: 40px;
  background-size: 40px;
  position: absolute;
  top: 0;
}
.new-window__window-btn::before {
  background-image: url("new-window.svg");
  left: 5px;
}
.new-window__sync-btn::before {
  width: 45px;
  height: 45px;
  background-size: 45px;
  background-image: url("sync.svg");
  left: 0;
}
.new-window__window-btn:hover,
.new-window__sync-btn:hover {
  opacity: 0.6;
}
