$background-color: #525659;
$content-background-color: #c6c6c6;

body {
  background-color: $background-color;
  height: 100vh;
  margin: 0;
}
button,
label {
  font: inherit;
  cursor: pointer;
}
.container {
  width: 1250px;
  margin: 0 auto;
}
.header {
  background-color: $content-background-color;
  margin-bottom: 30px;
  padding: 10px 0;
}
.header__inner {
  display: flex;
}
.header__upload-btn,
.header__new-window,
.header__arrows {
  margin-right: 10px;
}
.main-slide {
  display: flex;
  position: relative;
}
.slider {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background-color: $content-background-color;
}
.slider__wrap {
  overflow: hidden;
}

//upload-btn

.upload-btn {
  display: flex;
}
.upload-btn__label {
  padding-top: 50px;
  text-align: center;
  position: relative;
}
.upload-btn__label:hover {
  opacity: 0.6;
}
.upload-btn__label::before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
  background-image: url("img/pdf.svg");
}

//new-window

.new-window {
  display: flex;
  align-items: flex-start;
}
.new-window__window-btn,
.new-window__sync-btn {
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  padding-top: 50px;
  font: inherit;
}
.new-window__window-btn {
  margin-right: 10px;
}
.new-window__window-btn::before,
.new-window__sync-btn::before {
  content: '';
  width: 40px;
  height: 40px;
  background-size: 40px;
  position: absolute;
  top: 0;
}
.new-window__window-btn::before {
  background-image: url("img/new-window.svg");
  left: 5px;
}
.new-window__sync-btn::before {
  width: 45px;
  height: 45px;
  background-size: 45px;
  background-image: url("img/sync.svg");
  left: 0;
}
.new-window__window-btn:hover,
.new-window__sync-btn:hover {
  opacity: 0.6;
}
.new-window__window-btn:disabled,
.new-window__sync-btn:disabled {
  opacity: 0.6;
}

//arrows

.arrows {
  display: flex;
  align-items: flex-start;
}
.arrows__prev,
.arrows__next {
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 0;
  width: 35px;
  height: 35px;
  background-size: 35px;
  margin-top: 3px;
  background-image: url("img/right-arrow.svg");
}
.arrows__prev {
  margin-right: 5px;
  transform: rotate(180deg);
}
.arrows__prev:hover,
.arrows__next:hover,
.arrows__prev:disabled,
.arrows__next:disabled {
  opacity: 0.6;
}

