$background-color: #525659;
$content-background-color: #c6c6c6;

body {
  background-color: $background-color;
  height: 100vh;
  margin: 0;
}
button,
label {
  font: inherit;
  cursor: pointer;
}
.container {
  width: 1250px;
  margin: 0 auto;
}
.header {
  background-color: $content-background-color;
  margin-bottom: 30px;
  padding: 10px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.main-slide {
  display: flex;
  position: relative;
}
.slider {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background-color: $content-background-color;
}
.slider__wrap {
  overflow: hidden;
}
.header__slides-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//controls

.controls {
  display: flex;
  justify-content: space-between;
  width: 205px;
}
.controls__label {
  padding-top: 50px;
  text-align: center;
  position: relative;
}
.controls__label:hover {
  opacity: 0.6;
}
.controls__label::before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 4px;
  left: 18px;
  background-image: url("img/pdf.svg");
}

.controls__window-btn,
.controls__sync-btn {
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  padding-top: 50px;
  font: inherit;
}
.controls__window-btn::before,
.controls__sync-btn::before {
  content: '';
  width: 40px;
  height: 40px;
  background-size: 40px;
  position: absolute;
  top: 0;
}
.controls__window-btn::before {
  background-image: url("img/new-window.svg");
  left: 12px;
}
.controls__sync-btn::before {
  width: 45px;
  height: 45px;
  background-size: 45px;
  background-image: url("img/sync.svg");
  left: 9px;
}
.controls__window-btn:hover,
.controls__sync-btn:hover {
  opacity: 0.6;
}
.controls__window-btn:disabled,
.controls__sync-btn:disabled {
  opacity: 0.6;
}

//arrows

.arrows {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 240px;
}
.arrows__prev,
.arrows__next,
.arrows__first,
.arrows__last {
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 0;
  width: 35px;
  height: 35px;
  background-size: 35px;
  margin-top: 1px;
  background-image: url("img/right-arrow.svg");
}
.arrows__prev {
  background-image: url("img/right-arrow.svg");
  transform: rotate(180deg);
}
.arrows__last {
  background-image: url("img/skip.svg");
}
.arrows__first {
  background-image: url("img/skip.svg");
  transform: rotate(180deg);
}
.arrows__prev:hover,
.arrows__next:hover,
.arrows__first:hover,
.arrows__last:hover,
.arrows__prev:disabled,
.arrows__next:disabled,
.arrows__first:disabled,
.arrows__last:disabled {
  opacity: 0.6;
}
.arrows__slash {
  padding: 0 5px;
}
.arrows__value {
  width: 36px;
  height: 36px;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
}
.arrows__value:disabled {
  background-color: #d2d2d2;
}
.arrows__numbers-inner {
  display: flex;
  align-items: center;
}
.arrows__count {
  margin-left: 10px;
  min-width: 41px;
  font-size: 20px;
  text-align: center;
}

//lecture

.lecture {
  margin-top: 10px;
}

.lecture__btn {
  position: relative;
  padding: 3px 0;
  margin-top: 17px;
  width: 220px;
}
.lecture__btn::after {
  content: '';
  position: absolute;
  right: -40px;
  top: -5px;
  width: 35px;
  height: 35px;
  background-size: 35px;
}
.lecture__btn--rec-on::after {
  background-image: url("img/rec.svg");
}

//fullscreen

.fullscreen__btn {
  font-size: 0;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  background: url("img/scale-screen.svg") no-repeat;
  background-size: 40px;
}
.fullscreen__btn:hover,
.fullscreen__btn:focus,
.fullscreen__btn:disabled {
  opacity: 0.6;
}

//slide-title

.slide-title {
  display: flex;
  align-items: center;
}
.slide-title__title {
  margin-right: 5px;
}
.slide-title__input {
  width: 300px;
  height: 20px;
}
.slide-title__statistic-toggle {
  width: 26px;
  height: 26px;
  font-size: 0;
  border: 0;
  padding: 0;
  background: url("img/show-more-button.svg") no-repeat;
  background-size: 26px;
}
.slide-title__statistic-toggle--active {
  background-image: url("img/show-less-fold-button.svg");
}

//saved-slides

.saved-slides__btn {
  margin-right: 15px;
  width: 10px;
  height: 10px;
  border: 0;
  padding: 0;
  background: url("img/cross.svg") no-repeat;
  background-size: 10px;
}
